@model HotelViewModel
@{
    ViewData["Title"] = "CreateHotel";
}

<h2>Add an hotel</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HotelName"></label>
                <input asp-for="HotelName" class="form-control" />
                <span asp-validation-for="HotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelChainID"></label>
                <br />
                <select asp-for="HotelChainID">
                    @foreach (Hotelchain h in Model.chains)
                    {
                        <option value=@h.Hcid>@h.HotelChainName</option>

                    }
                </select>
                <span asp-validation-for="HotelChainID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerSSN"></label>
                <br />
                <select asp-for="ManagerSSN">
                    @foreach (Person emp in Model.employees)
                    {
                        <option value=@emp.Ssn>@emp.FullName</option>

                    }
                </select>
                <span asp-validation-for="ManagerSSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber"></label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AptNumber"></label>
                <input asp-for="AptNumber" class="form-control" />
                <span asp-validation-for="AptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create hotel</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}