
@{
    ViewData["Title"] = "EmployeeSection";
}

<h2>Employee Section</h2>

<ul class="list-group col-sm-6">
    <li class="list-group-item"><a asp-area="" asp-controller="Home" asp-action="ManageHotelChains">Manage Hotel Chains</a></li>
    <li class="list-group-item"><a asp-area="" asp-controller="Home" asp-action="ManageHotels">Manage Hotels</a></li>
    <li class="list-group-item"><a asp-area="" asp-controller="Home" asp-action="ManageRooms">Manage Rooms</a></li>
    <li class="list-group-item"><a asp-area="" asp-controller="Account" asp-action="ManageRoles">Manage Roles</a></li>
    <li class="list-group-item"><a asp-area="" asp-controller="Home" asp-action="ManageBookings">Manage Bookings</a></li>
</ul>