@model Booking
@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>

<div class="col-md-4">
    <a asp-area="" asp-controller="Home" asp-action="RentBooking" class="btn btn-primary col-md-12" asp-route-Bid="@Model.Bid">Confirm payment</a>
</div>